body {
  margin: 0;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  color: #585858;
}

.scale {
  stroke: #585858 ;
}

.tick {
  text-anchor: middle;
}

.area {
  opacity: 0.8;
}

.label {
  text-anchor: middle;
  font-size: 1.5em;
}
